@import url(https://fonts.googleapis.com/css?family=Song+Myung);

body {
  margin: 0;
  font-family: 'Song Myung';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Song Myung';
}

